<div class="biome-page">
    <div id="searchBox">
        <div>
            <p>Climate</p>
            <input type="text" ng-model="searchBox.Climate"> </div>
        <div>
            <p>Type</p>
            <input type="text" ng-model="searchBox.Type"> </div>
        <div>
            <p>Subtype</p>
            <input type="text" ng-model="searchBox.Subtype"> </div>
        <div>
            <p>Location</p>
            <input type="text" ng-model="searchBox.Location"> </div>
    </div>
    <br>
    <div id="biome-list" class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        <ul>
            <li ng-repeat="biome in biomes | filter:searchBox">
                <div class="{{biome.Climate}}">{{biome.Climate}}</div>
                <a href="" ng-click="getBiome(biome.ID)">{{biome.Name}}</a>
                <span style="float:right;" ng-if="biome.Subtype=='Coniferous'" class="glyphicon glyphicon-tree-conifer"></span>
                <span style="float:right;" ng-if="biome.Subtype=='Deciduos'" class="glyphicon glyphicon-tree-deciduous"></span>
                <span style="float:right;" ng-if="biome.Subtype=='Mixed'" class="glyphicon glyphicon-leaf"></span>
                <span style="float:right;" ng-if="biome.Subtype=='Freshwater'" class="glyphicon glyphicon-tint"></span>
            </li>
        </ul>
    </div>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-6" id="biome-info">
        <div class="panel panel-default">
            <div class="panel-heading">
                <ul class="nav nav-tabs">
                    <li>
                        <a href="" ng-click="setCurrentDiv('info')"><span class="glyphicon glyphicon-info-sign"></span> Info</a>
                    </li>
                    <li>
                        <a href="" ng-click="setCurrentDiv('photo')"><span class="glyphicon glyphicon-camera"></span> Photos</a>
                    </li>
                    <li>
                        <a href="" ng-click="setCurrentDiv('locations')"><span class="glyphicon glyphicon-globe"></span> Locations</a>
                    </li>
                </ul>
            </div>
            <div class="panel-body">
                <div ng-if="currentDiv==='info'">
                    <h3>
                    {{currentBiome.Name}}</h3>
                    <div class="{{currentBiome.Climate}}" id="climate">{{currentBiome.Climate}}</div>
                    <div id="type">
                        <span ng-if="currentBiome.Subtype=='Coniferous'" class="glyphicon glyphicon-tree-conifer"></span>
                        <span ng-if="currentBiome.Subtype=='Deciduos'" class="glyphicon glyphicon-tree-deciduous"></span>
                        <span ng-if="currentBiome.Subtype=='Mixed'" class="glyphicon glyphicon-leaf"></span> {{currentBiome.Type}}
                    </div>
                    <div id="elevation">{{currentBiome.Elevation}}</div>
                    <div id="precipitation"><span class="glyphicon glyphicon-tint"></span>{{currentBiome.Precipitation}}</div>
                    <div id="temperature"><span class="glyphicon glyphicon-dashboard"></span>{{currentBiome.Temperature}}</div>
                    <hr>
                    <div ng-bind-html="currentBiome.Info"></div>
                </div>
                <div ng-if="currentDiv==='photo'">y</div>
                <div ng-if="currentDiv==='locations'">z</div>
            </div>
        </div>
    </div>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" id="biome-funfacts">
        <div class="panel panel-default">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Facts</h3>
                </div>
                <div class="panel-body">
                </div>
            </div>
        </div>
    </div>
