
        
        <div ng-controller="SearchCTRL">
            <div id="searchBox">
                <div><p>Continent</p><input type="text" ng-model="searchBox.continent"></div>
                <div><p>Location</p><input type="text" ng-model="searchBox.location"></div>
                <div><p>Food-type</p><input type="text" ng-model="searchBox.food"></div></div>
           
            <div class="card" ng-repeat="animal in species | filter:searchBox">
                <div class="panel panel-default">
                <div class="panel-heading"><h3 ng-show="animal.commonName!=''">{{animal.commonName}}</h3><h3 ng-show="animal.commonName==''">{{animal.firstName}}</h3></div>
            <div class="panel-title"><h4 class="myh4">{{animal.firstName + " " + animal.secondName}}</h4> </div>
                 <div class="panel-body">
                
              
                   <div class="thumbnail">
                <a ng-href="../images/paraves/{{animal.firstName}}_Alternate.png" target="_blank"><img src="../images/paraves/{{animal.firstName}}_Neutral.png" alt="{{animal.firstName}}"/></a>
                </div>
                <p>{{animal.description}} </p>
                
                <a class="hvr-underline-from-center" target="_blank" ng-href="{{animal.link}}">Download</a>
                |
                <a class="hvr-underline-from-center" ng-href="../html/blends/{{animal.firstName}}.html" target="_blank">3D Preview</a>
            </div>
                
            <div class="panel-footer clearfix">
                
             {{animal.date}}
            </div>
                
                </div>
                
       
        </div>
        </div>
